body {
  font-family: 'futura', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}

h1 {
  font-size: 300px;
  padding: 50px 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 80px;
  padding: 50px 0 30px 25px;
  text-align: center;
}

p {
  font-size: 20px;
  padding: 0;
  color: black;
}

main {
  background-color: #F5F5F5;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}

section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

section div {
  width: 20%;
  margin: 10px 10px;
  padding: 10px;
}

section div img {
  margin-bottom: 20px;
  display: block;
  align-content: flex-start;
  width: 100%;
}

section div h3 {
  text-align: center;
}

nav ul {
  display: flex;
  background-color: #fffa65;
  justify-content: center;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px;
  padding: 4px;
}

li a:hover {
  color: #ff9f1a;
  transform: scale(1.2);
}

li a {
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}


@media (min-width: 320px) and (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 80vh
  }

  h1 {
    font-size: 100px;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    padding: 50px 0 10px 0px;
    text-align: center;
  }

  p {
    font-size: 8px;
    padding: 0;
    color: black;
  }

  main {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    position: relative;
  }

  section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  section div {
    width: 20%;
    margin: 10px 10px;
    padding: 10px;
  }

  section div img {
    margin-bottom: 20px;
    display: block;
    align-content: flex-start;
    width: 100%;
  }

  section div h3 {
    text-align: center;
  }

  nav ul {
    display: flex;
    background-color: #fffa65;
    justify-content: center;
  }

  li {
    font-size: 12px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }

  li a:hover {
    color: #ff9f1a;
    transform: scale(1.2);
  }

  li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 96vh;
  }

  h1 {
    font-size: 150px;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    padding: 50px 0 30px 25px;
    text-align: center;
  }

  p {
    font-size: 15px;
    padding: 0;
    color: black;
  }

  main {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    position: relative;
  }

  section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  section div {
    width: 20%;
    margin: 10px 10px;
    padding: 10px;
  }

  section div img {
    margin-bottom: 20px;
    display: block;
    align-content: flex-start;
    width: 100%;
  }

  section div h3 {
    text-align: center;
  }

  nav ul {
    display: flex;
    background-color: #fffa65;
    justify-content: center;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }

  li a:hover {
    color: #ff9f1a;
    transform: scale(1.2);
  }

  li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 96vh;
  }

  h1 {
    font-size: 200px;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 50px;
    padding: 50px 0 30px 25px;
    text-align: center;
  }

  p {
    font-size: 15px;
    padding: 0;
    color: black;
  }

  main {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    position: relative;
  }

  section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  section div {
    width: 20%;
    margin: 10px 10px;
    padding: 10px;
  }

  section div img {
    margin-bottom: 20px;
    display: block;
    align-content: flex-start;
    width: 100%;
  }

  section div h3 {
    text-align: center;
  }

  nav ul {
    display: flex;
    background-color: #fffa65;
    justify-content: center;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }

  li a:hover {
    color: #ff9f1a;
    transform: scale(1.2);
  }

  li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 96vh;
  }

  h1 {
    font-size: 250px;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 60px;
    padding: 50px 0 30px 25px;
    text-align: center;
  }

  p {
    font-size: 15px;
    padding: 0;
    color: black;
  }

  main {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    position: relative;
  }

  section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  section div {
    width: 20%;
    margin: 10px 10px;
    padding: 10px;
  }

  section div img {
    margin-bottom: 20px;
    display: block;
    align-content: flex-start;
    width: 100%;
  }

  section div h3 {
    text-align: center;
  }

  nav ul {
    display: flex;
    background-color: #fffa65;
    justify-content: center;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }

  li a:hover {
    color: #ff9f1a;
    transform: scale(1.2);
  }

  li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
}
