body {
  font-family: 'futura', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}


h1 {
  font-size: 300px;
  padding: 100px 0 50px 0;
  text-align: center;
}

}

main {
  background-color: #F5F5F5;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}

section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

section div {
  width: 35%;
  margin: 20px;
  padding: 10px;
  background-color: pink;

}

section div img {
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

nav ul {
  display: flex;
  background-color: #fffa65;
  justify-content: center;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px;
  padding: 4px;
}

a:hover {
  color: #ff9f1a;
  transform: scale(1.2);
}

a {
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
