body {
  font-family: 'futura', sans-serif;
}

header {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}


h1 {
  font-size: 300px;
  padding: 100px 0 50px 0;
  text-align: center;
}

nav > ul {
  display: flex;
  background-color: #fffa65;
  justify-content: left;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px 10px 15px;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  width: 100%;
  height: 100vh;
}

a:hover {
  color: #ff9f1a;
}

a {
  text-decoration: none;
  color: black;
}
