body {
  font-family: 'futura', sans-serif;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}

h1 {
  font-size: 300px;
  padding: 100px 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 80px;
  padding: 50px 0 30px 0px;
  text-align: center;
}

h3 {
  font-size: 60px;
  color: black;

  margin-bottom: 10px;
}

h4 {
 font-size: 30px;
}

article {
  position: absolute;
  left: 0;
  top: 100px;
}

main {
  background-color: #F5F5F5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  width: 40%;
  height: 450px;
  margin: auto;

  position: relative;
  background-color: #7d5fff;
}

input {
 width: 375px;
 height: 25px;
 text-align: center;
}

form p {
  font-size: 40px;
  padding: 20px 20px;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;

  position: absolute;
  bottom: 10px;
}

section div {
  width: 20%;
  margin: 20px;
  padding: 10px;
}

section div .fab {
  font-size: 80px;
  color: #ffaf40;
}

nav ul {
  display: flex;
  background-color: #fffa65;
  justify-content: center;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px;
  padding: 4px;
}

li a:hover {
  color: #ff9f1a;
  transform: scale(1.2);
}

li a {
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

@media (max-width: 425px) {
  h1 {
    font-size: 100px;
    padding: 200px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  form p {
    font-size: 10px;
    text-align: center;
    margin: 20px 0px;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  h1 {
    font-size: 150px;
    padding: 200px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  form p {
    font-size: 20px;
    text-align: center;
    margin: 20px 0px;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 200px;
    padding: 200px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 50px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  form p {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  h1 {
    font-size: 250px;
    padding: 200px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 60px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  form p {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
  }

  li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px;
    padding: 4px;
  }
}
