body {
  font-family: 'futura', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}

h1 {
  font-size: 300px;
  padding: 200px 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 80px;
  padding: 50px 0 30px 0px;
  text-align: center;
}

h3 {
  font-size: 60px;
  padding: 120px 0 50px 0px;
  color: black;
}

main {
  background-color: #F5F5F5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  width: 40%;
  height: 450px;
  margin: auto;

  position: relative;
  background-color: #7d5fff;
}

input {
 width: 375px;
 height: 25px;
 text-align: center;
}

form p {
  font-size: 40px;
  padding: 20px 20px;
  text-align: center;
}

nav ul {
  display: flex;
  background-color: #fffa65;
  justify-content: center;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px;
  padding: 4px;
}

a:hover {
  color: #ff9f1a;
  transform: scale(1.2);
}

a {
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
