body{
  color: #F5F5EF;
  background-color: #AA2B26;
  margin-bottom: 400px;
}

.header-display{
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

h2{
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  color: #F5F5EF;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 100px;
}

div{
  display: flex;
  justify-content: center;
}

img{
  border-radius: 50%;
}

h3{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  color: #F5F5EF;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 600px;
  margin-bottom: 0px;
  margin-right: 600px;
}

p{
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: #F5F5EF;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 500px;
  margin-bottom: 100px;
  margin-right: 500px;
}
