

body {
      font-family: 'Lato', sans-serif;
      margin-top: 40px;
      background-color: rgb(180,180,180);
}

h1 {
   color: 000;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-variant: small-caps;
   font-size: 6vw;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
  font-weight:500;
  font-size: 2vw;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #323232;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #323232; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background:#323232;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#000; }

footer {
   position: fixed; 
   bottom: 0;
   padding: 0 0 5px 20px;
   width: 100%;
   height:50px;
   color: #000;
   background: rgba(180,180,180,.4);
   line-height: 50px;
   font-size: 2vw;
   font-weight: 100;
   font-variant: small-caps;
}

.sitename {
   float: left;
   width: 300px;
}

.bottomnav a {
  float: right;
  max-width: 400px;
  color: #ffffff;
  text-align: center;
  margin-right: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  color: black;
  font-weight: 300;
  text-decoration: none;
  font-size: 2vw;
}