body{
  color: black;
  background-color: #F5F5EF;
  margin-bottom: 400px;
}

.header-display{
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

h2{
  text-align: center;
}

h3{
  display: flex;
  justify-content: center;
}

main{
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: black;
  background-color: transparent;
}
