body {
  font-family: 'futura', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}

h1 {
  font-size: 300px;
  text-align: left;
  padding: 0px 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 80px;
  padding: 50px 0 30px 0px;
  text-align: center;
}

h3 {
  font-size: 70px;
  color: black;
}

main {
  background-color: #F5F5F5;
  padding: 20px 0;
  width: 100%;
  min-height: 100vh;
}

.aligned div {
  font-size: 30px;
  line-height: 40px;
}

.aligned img {

  width: 100%;
}

.aligned {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px;
  padding: 40px;
}

.aligned:nth-of-type(1) {
  background-color: #67e6dc;
}

.aligned:nth-of-type(2) {
  background-color: #ffb8b8;
}

.aligned:nth-of-type(3) {
  background-color: #ff9f1a;
}

nav ul {
  display: flex;
  background-color: #fffa65;
  justify-content: center;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px;
  padding: 4px;
}

a:hover {
  color: #ff9f1a;
  transform: scale(1.2);
}

a {
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

@media (max-width: 425px) {
  h1 {
    font-size: 100px;
    text-align: left;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 26px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    color: black;
  }

  .displayed img {
    width: 100%;
  }

  .displayed div:nth-of-type(1) {
    width: 100%;
  }

  .aligned div:nth-of-type(2){
    font-size: 15px;
    text-align: center;

    line-height: 20px;
    width: 100%;
  }

  .aligned {
    margin: 0 30px 30px 20px;
    flex-direction: column;
  }

  li {
    font-size: 12px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  h1 {
    font-size: 150px;
    text-align: left;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  h3 {
    font-size: 50px;
    padding: 120px 0px 0px 100px;
    color: black;
  }

  .displayed img {
    width: 100%;
  }

  .displayed div:nth-of-type(1) {
    width: 35%;
  }

  .aligned div:nth-of-type(2){
    font-size: 20px;

    line-height: 25px;
    width: 65%;
  }

  .aligned {
    margin: 70px;
  }

  li {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 200px;
    text-align: left;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 50px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  h3 {
    font-size: 50px;
    padding: 120px 0px 0px 100px;
    color: black;
  }

  .displayed img {
    width: 100%;
  }

  .displayed div:nth-of-type(1) {
    width: 35%;
  }

  .aligned div:nth-of-type(2){
    font-size: 25px;

    line-height: 30px;
    width: 65%;
  }

  .aligned {
    margin: 70px;
  }

  li {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 200px;
    text-align: left;
    padding: 50px 0 50px 0;
    text-align: center;
  }

  h2 {
    font-size: 50px;
    padding: 50px 0 30px 0px;
    text-align: center;
  }

  h3 {
    font-size: 60px;
    padding: 120px 0px 0px 100px;
    color: black;
  }

  .displayed img {
    width: 100%;
  }

  .displayed div:nth-of-type(1) {
    width: 35%;
  }

  .aligned div:nth-of-type(2){
    font-size: 30px;

    line-height: 40px;
    width: 65%;
  }

  .aligned {
    margin: 70px;
  }

  li {
    font-size: 20px;
  }
}
