body {
  font-family: 'futura', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;

  background: rgb(205,132,241);
  background: radial-gradient(circle, rgba(205,132,241,1) 27%, rgba(197,108,240,1) 100%);
  color: white;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

h1 {
  font-size: 300px;
  text-align: left;
  padding: 50px 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 80px;
  padding: 50px 0 30px 25px;
  text-align: center;
}

h3 {
  position: absolute;
  top: 50px;
  font-size: 60px;
  color: black;
}

main h3:nth-of-type(1)
{
  left: 20px;
}

main h3:nth-of-type(2)
{
  right: 20px;
}

nav ul {
  display: flex;
  background-color: #fffa65;
  justify-content: center;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin: 10px 15px;
  padding: 4px;
}

a:hover {
  color: #ff9f1a;
  transform: scale(1.2);
}

a {
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
