body {
   font-family: 'Lato', sans-serif;
   margin-top: 40px;
   background-color: rgb(180,180,180);
   
}
footer {
   position: fixed; 
   bottom: 0;
   padding: 0 0 5px 20px;
   width: 100%;
   height:50px;
   color: #000;
   background: rgba(180,180,180,.4);
   line-height: 50px;
   font-size: 2vw;
   font-weight: 100;
   font-variant: small-caps;
}

.about {
   margin-left: 40px;
}

.img{
   float:left;
   display: inline-block;
   margin-left: 40px;
   width: 300px;
   height: auto:
}

 .bio {
   display: inline-block;
   padding-left: 40px;
   max-width: 500px;
   max-height: 500px
   
   
}

.bio p {
   font-family: 'Lato', sans-serif;
   font-size: 2vw;
   font-weight: 200;
}
   

.sitename {
   float: left;
   width: 300px;
}

.bottomnav a {
  float: right;
  max-width: 400px;
  color: #ffffff;
  text-align: center;
  margin-right: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  color: black;
  font-weight: 300;
  text-decoration: none;
  font-size: 2vw;
}