body {
   font-family: 'Lato', sans-serif;
   width: 960px;
   background-color: rgb(180,180,180)
}
header {
   position: fixed; 
   top: 0;
   width: 960px;
   height: 50px;
   border: 10px solid red;
   color: #ffffff;
   background: rgba(180,180,180,.4);
   line-height: 50px;
   font-size: 5vw;
   font-weight: 300;
   font-variant: small-caps;
}