body{
  background-image: url("css-img/test-07.jpg");
  color: white;
  background-color: black;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

h1{
  text-align: center;
}

a{
  color: white;
  background-color: transparent;
  text-decoration: none;
  line-height: 2rem;
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.button{
  opacity:0.5;
}
.button:hover{
  opacity:1;
}
