body {
  font-family: 'futura', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

h1 {
  font-size: 350px;
  text-align: left;
  padding: 50px 0 50px 0;
}

h2 {
  font-size: 50px;
  text-align: left;
  padding: 15px 0 50px 25px;
}
