body{
  background-image: url("css-img/test-07.jpg");
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 200px;
  margin-right: 30px;
}

h1{
  text-align: left;
}

a{
  color: white;
  background-color: transparent;
  text-decoration: none;
  line-height: 2rem;
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;

}

.button{
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity:0.5;
}
.button:hover{
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity:1;
}
